.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.counter-button {
    background: url(https://zapodaj.net/thumbs/ca142206c347d.png) center/cover; 
    width: 100px;
    height: 250px; 
    border: none; 
    cursor: pointer; 
    color: rgb(15, 3, 3); 
    font-size: 26px; 
    font-weight: bold; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s; 
}

.counter-button:hover {
    transform: scale(1.25); 
}

.counter-text {
    margin-top: 10px; 
    font-size: 14px; 
    color: #343a40; 
}
